Diligent_MKT_ws_SSL_3/xml-resources/web-service-references/EXTSYS2_AFFECTEDSERVICE/xsds/AFFECTEDSERVICEService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ibm.com/maximo" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.ibm.com/maximo">
  <xsd:simpleType name="ProcessingActionType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of Processing Actions supported by Maximo Services</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Add" />
      <xsd:enumeration value="Change" />
      <xsd:enumeration value="Replace" />
      <xsd:enumeration value="Delete" />
      <xsd:enumeration value="AddChange" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OperandModeType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of operand modes supported by Maximo Query</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="OR" />
      <xsd:enumeration value="AND" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MboRelationshipType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EventType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a published MOS was the result of an event. 1 implies event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChangeIndicatorType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QueryOperatorType">
    <xsd:annotation>
      <xsd:documentation>Operator identifying the QBE action to be performed on the field it is associated with</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="=" />
      <xsd:enumeration value="!=" />
      <xsd:enumeration value="&lt;" />
      <xsd:enumeration value="&lt;=" />
      <xsd:enumeration value="&gt;" />
      <xsd:enumeration value="&gt;=" />
      <xsd:enumeration value="EW" />
      <xsd:enumeration value="SW" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BooleanType">
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <!--================== Content Data Types ==============-->
  <xsd:simpleType name="MaximoVersionType">
    <xsd:annotation>
      <xsd:documentation>This is a concatenated string that identifies the major version, minor version, build and dbbuild</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="MXStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLangStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute name="languageEnabled" type="xsd:boolean" use="optional" fixed="1" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:long">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBinaryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXCryptoType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute name="mxencrypted" type="BooleanType" use="optional" default="1" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountType">
    <xsd:sequence>
      <xsd:element name="VALUE" type="xsd:string" minOccurs="0" />
      <xsd:element name="GLCOMP" type="MXGLComponentType" minOccurs="0" maxOccurs="20" />
    </xsd:sequence>
    <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--================== Query Data Types ==============-->
  <xsd:complexType name="MXStringQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanQueryType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountQueryType">
    <xsd:sequence>
      <xsd:element name="VALUE" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
    <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--=================Attribute Groups =================-->
  <xsd:attributeGroup name="ObjectStructurePropertyGroup">
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
    <xsd:attribute name="relationship" type="xsd:string" use="optional" />
    <xsd:attribute name="deleteForInsert" type="xsd:string" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="CommonContentGroup">
    <xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional" />
    <xsd:attribute name="baseLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="messageID" type="xsd:string" use="optional" />
    <xsd:attribute name="maximoVersion" type="MaximoVersionType" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="PublishingContentGroup">
    <xsd:attribute name="event" type="EventType" use="optional" default="0" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryContentGroup">
    <xsd:attribute name="uniqueResult" type="BooleanType" use="optional" default="0" />
    <xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional" />
    <xsd:attribute name="rsStart" type="xsd:integer" use="optional" default="0" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryClausePropertyGroup">
    <xsd:attribute name="orderby" type="xsd:string" use="optional" />
    <xsd:attribute name="operandMode" type="OperandModeType" use="optional" default="AND" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="ResponseContentGroup">
    <xsd:attribute name="rsStart" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsCount" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsTotal" type="xsd:integer" use="optional" />
  </xsd:attributeGroup>
  <xsd:complexType name="AFFECTEDSERVICEKeyType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICEID" type="MXLongType" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICEObjectType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICEID" type="MXLongType" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="CINUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="EQUIPMENTTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOCATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="NUMINTERNET" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMIPTV" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMOFIMPACTEDCUST" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMVOIP" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMWLR" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMADSL" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="REGION" type="MXStringType" minOccurs="0" />
      <xsd:element name="SERVICEINFAULT" type="MXStringType" minOccurs="0" />
      <xsd:element name="STARTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ENDDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="DELETEFLAG" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="SYSSTATUS" type="MXStringType" minOccurs="0" />
      <xsd:element name="CHANGEDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TICKETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ONETMID" type="MXStringType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICEMboKeyType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICE" type="AFFECTEDSERVICEKeyType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICEMboKeySetType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICE" type="AFFECTEDSERVICEKeyType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICEMboSetType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICE" type="AFFECTEDSERVICEObjectType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICEMboType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICE" type="AFFECTEDSERVICEObjectType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICEMboQueryType">
    <xsd:sequence>
      <xsd:element name="WHERE" type="xsd:string" minOccurs="0" />
      <xsd:element name="AFFECTEDSERVICE" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AFFECTEDSERVICEID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CINUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="EQUIPMENTTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMINTERNET" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMIPTV" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMOFIMPACTEDCUST" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMVOIP" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMWLR" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMADSL" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REGION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SERVICEINFAULT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STARTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ENDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DELETEFLAG" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SYSSTATUS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CHANGEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ONETMID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:element name="AFFECTEDSERVICEMbo" type="AFFECTEDSERVICEMboType" />
  <xsd:element name="AFFECTEDSERVICEMboSet" type="AFFECTEDSERVICEMboSetType" />
  <xsd:element name="AFFECTEDSERVICEMboKey" type="AFFECTEDSERVICEMboKeyType" />
  <xsd:element name="AFFECTEDSERVICEMboKeySet" type="AFFECTEDSERVICEMboKeySetType" />
  <xsd:element name="AFFECTEDSERVICEMboQuery" type="AFFECTEDSERVICEMboQueryType" />
  <xsd:complexType name="AFFECTEDSERVICE_AFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element name="MAXINTERRORMSG" type="xsd:string" minOccurs="0" />
      <xsd:element name="AFFECTEDSERVICEID" type="MXLongType" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CINUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="DELETEFLAG" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="ENDDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="EQUIPMENTTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOCATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="NUMADSL" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMINTERNET" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMIPTV" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMOFIMPACTEDCUST" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMVOIP" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMWLR" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ONETMID" type="MXStringType" minOccurs="0" />
      <xsd:element name="REGION" type="MXStringType" minOccurs="0" />
      <xsd:element name="SERVICEINFAULT" type="MXStringType" minOccurs="0" />
      <xsd:element name="STARTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="SYSSTATUS" type="MXStringType" minOccurs="0" />
      <xsd:element name="TICKETID" type="MXStringType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICE" type="AFFECTEDSERVICE_AFFECTEDSERVICEType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICESetType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICE" type="AFFECTEDSERVICE_AFFECTEDSERVICEType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICEQueryType">
    <xsd:sequence>
      <xsd:element name="WHERE" type="xsd:string" minOccurs="0" />
      <xsd:element name="AFFECTEDSERVICE" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AFFECTEDSERVICEID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="CINUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DELETEFLAG" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ENDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="EQUIPMENTTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMADSL" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMINTERNET" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMIPTV" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMOFIMPACTEDCUST" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMVOIP" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMWLR" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ONETMID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REGION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SERVICEINFAULT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STARTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SYSSTATUS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="AFFECTEDSERVICECombinedKeySetType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICE" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AFFECTEDSERVICEID" type="MXLongType" nillable="true">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AFFECTEDSERVICE" type="AFFECTEDSERVICEType" />
  <xsd:element name="AFFECTEDSERVICESet" type="AFFECTEDSERVICESetType" />
  <xsd:element name="AFFECTEDSERVICEQuery" type="AFFECTEDSERVICEQueryType" />
  <xsd:complexType name="CreateAFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element ref="AFFECTEDSERVICESet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeAFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element ref="AFFECTEDSERVICESet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryAFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element ref="AFFECTEDSERVICEQuery" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="QueryContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncAFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element ref="AFFECTEDSERVICESet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="PublishAFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element ref="AFFECTEDSERVICESet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="PublishingContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateAFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element ref="AFFECTEDSERVICESet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteAFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element ref="AFFECTEDSERVICESet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeAFFECTEDSERVICEResponseType">
    <xsd:sequence>
      <xsd:element ref="AFFECTEDSERVICESet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="CreateAFFECTEDSERVICEResponseType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICESet" type="AFFECTEDSERVICECombinedKeySetType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryAFFECTEDSERVICEResponseType">
    <xsd:sequence>
      <xsd:element ref="AFFECTEDSERVICESet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="ResponseContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncAFFECTEDSERVICEResponseType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICESet" type="AFFECTEDSERVICECombinedKeySetType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteAFFECTEDSERVICEResponseType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICESet" type="AFFECTEDSERVICECombinedKeySetType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateAFFECTEDSERVICEResponseType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICESet" type="AFFECTEDSERVICECombinedKeySetType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:element name="UpdateAFFECTEDSERVICE" type="UpdateAFFECTEDSERVICEType" />
  <xsd:element name="QueryAFFECTEDSERVICE" type="QueryAFFECTEDSERVICEType" />
  <xsd:element name="CreateAFFECTEDSERVICE" type="CreateAFFECTEDSERVICEType" />
  <xsd:element name="SyncAFFECTEDSERVICE" type="SyncAFFECTEDSERVICEType" />
  <xsd:element name="DeleteAFFECTEDSERVICE" type="DeleteAFFECTEDSERVICEType" />
  <xsd:element name="PublishAFFECTEDSERVICE" type="PublishAFFECTEDSERVICEType" />
  <xsd:element name="InvokeAFFECTEDSERVICE" type="InvokeAFFECTEDSERVICEType" />
  <xsd:element name="InvokeAFFECTEDSERVICEResponse" type="InvokeAFFECTEDSERVICEResponseType" />
  <xsd:element name="QueryAFFECTEDSERVICEResponse" type="QueryAFFECTEDSERVICEResponseType" />
  <xsd:element name="CreateAFFECTEDSERVICEResponse" type="CreateAFFECTEDSERVICEResponseType" />
  <xsd:element name="SyncAFFECTEDSERVICEResponse" type="SyncAFFECTEDSERVICEResponseType" />
  <xsd:element name="UpdateAFFECTEDSERVICEResponse" type="UpdateAFFECTEDSERVICEResponseType" />
  <xsd:element name="DeleteAFFECTEDSERVICEResponse" type="DeleteAFFECTEDSERVICEResponseType" />
</xsd:schema>

