DILIGENT_MKT_3_1/src/conf/xml-resources/web-services/CRMResponseWebService/wsdl/CRMDiligentResponsePortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CRMDiligentResponsePortTypeDefinitions" targetNamespace="http://crm.it.telekom.mk/diligent/services/queryDiligentIncidentResponse" xmlns="http://crm.it.telekom.mk/diligent/services/queryDiligentIncidentResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://crm.it.telekom.mk/diligent/services/queryDiligentIncidentResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soabp="http://messaging.ei.tmobile.net/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation>
	<!-- CEISeR version of WSDLPortType: 553896 (Branch: main) -->
	<!-- CEISeR version used for generation: 17.6.10.0 -->
</wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://crm.it.telekom.mk/diligent/services/queryDiligentIncidentResponse" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diligent_it_telekom_mk_tt_datatypes="http://crm.it.telekom.mk/diligent/datatypes/queryDiligentIncidentResponse" xmlns:ei_messaging_datatypes="http://messaging.ei.tmobile.net/datatypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://crm.it.telekom.mk/diligent/datatypes/queryDiligentIncidentResponse" schemaLocation="../../xsds/mk-telekom-it-crm-diligent-datatypes-queryDiligentIncidentResponse.xsd"/>
<xsd:import namespace="http://messaging.ei.tmobile.net/datatypes" schemaLocation="../../xsds/ei.messaging.datatypes.xsd"/>
<!-- ****************************************************************** -->
<xsd:element name="MarkAffectedResponse">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="diligent_it_telekom_mk_tt_datatypes:MarkAffectedAsyncResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="MarkAffectedResponseOutput">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="diligent_it_telekom_mk_tt_datatypes:MarkAffectedAsyncResponseOutput"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="ReleaseAffectedResponse">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-elem;ent "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="diligent_it_telekom_mk_tt_datatypes:ReleaseAffectedAsyncResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="ReleaseAffectedResponseOutput">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-elem;ent "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="diligent_it_telekom_mk_tt_datatypes:ReleaseAffectedAsyncResponseOutput"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="TechnicalExceptionElement" type="ei_messaging_datatypes:SOABPException2"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="MarkAffectedResponseInput">
    <wsdl:part name="parameters" element="tns:MarkAffectedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReleaseAffectedResponseInput">
    <wsdl:part name="parameters" element="tns:ReleaseAffectedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MarkAffectedResponseOutput">
    <wsdl:part name="parameters" element="tns:MarkAffectedResponseOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TechnicalExceptionMessage">
    <wsdl:part name="parameters" element="tns:TechnicalExceptionElement">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReleaseAffectedResponseOutput">
    <wsdl:part name="parameters" element="tns:ReleaseAffectedResponseOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CRMDiligentResponsePortType">
    <wsdl:operation name="MarkAffectedResponse">
<wsdl:documentation>
<soabp:RequestResponseOperation/>
</wsdl:documentation>
      <wsdl:input message="tns:MarkAffectedResponseInput">
    </wsdl:input>
      <wsdl:output message="tns:MarkAffectedResponseOutput">
    </wsdl:output>
      <wsdl:fault name="TechnicalExceptionFault" message="tns:TechnicalExceptionMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReleaseAffectedResponse">
<wsdl:documentation>
<soabp:RequestResponseOperation/>
</wsdl:documentation>
      <wsdl:input message="tns:ReleaseAffectedResponseInput">
    </wsdl:input>
      <wsdl:output message="tns:ReleaseAffectedResponseOutput">
    </wsdl:output>
      <wsdl:fault name="TechnicalExceptionFault" message="tns:TechnicalExceptionMessage">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRMDiligentResponsePortTypeBinding" type="tns:CRMDiligentResponsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MarkAffectedResponse">
      <soap:operation soapAction="urn:MarkAffectedResponse"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalExceptionFault">
        <soap:fault name="TechnicalExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReleaseAffectedResponse">
      <soap:operation soapAction="urn:ReleaseAffectedResponse"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalExceptionFault">
        <soap:fault name="TechnicalExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMDiligentResponsePortTypeService">
    <wsdl:port name="CRMDiligentResponsePortType" binding="tns:CRMDiligentResponsePortTypeBinding">
      <soap:address location="http://localhost:8080/DILIGENT_MKT/CRMDiligentResponsePortTypeService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
