Diligent_MKT_ws_SSL_3/xml-resources/web-service-references/DILIGENT_EXTSYS2_QTT1/xsds/Diligent_service_QTT1Service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ibm.com/maximo" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.ibm.com/maximo">
  <!--================== Supporting Data Types ===========-->
  <xsd:simpleType name="ProcessingActionType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of Processing Actions supported by Maximo Services</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Add" />
      <xsd:enumeration value="Change" />
      <xsd:enumeration value="Replace" />
      <xsd:enumeration value="Delete" />
      <xsd:enumeration value="AddChange" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OperandModeType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of operand modes supported by Maximo Query</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="OR" />
      <xsd:enumeration value="AND" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MboRelationshipType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EventType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a published MOS was the result of an event. 1 implies event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChangeIndicatorType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QueryOperatorType">
    <xsd:annotation>
      <xsd:documentation>Operator identifying the QBE action to be performed on the field it is associated with</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="=" />
      <xsd:enumeration value="!=" />
      <xsd:enumeration value="&lt;" />
      <xsd:enumeration value="&lt;=" />
      <xsd:enumeration value="&gt;" />
      <xsd:enumeration value="&gt;=" />
      <xsd:enumeration value="EW" />
      <xsd:enumeration value="SW" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BooleanType">
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <!--================== Content Data Types ==============-->
  <xsd:simpleType name="MaximoVersionType">
    <xsd:annotation>
      <xsd:documentation>This is a concatenated string that identifies the major version, minor version, build and dbbuild</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="MXStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLangStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute name="languageEnabled" type="xsd:boolean" use="optional" fixed="1" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:long">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBinaryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXCryptoType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute name="mxencrypted" type="BooleanType" use="optional" default="1" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountType">
    <xsd:sequence>
      <xsd:element name="VALUE" type="xsd:string" minOccurs="0" />
      <xsd:element name="GLCOMP" type="MXGLComponentType" minOccurs="0" maxOccurs="20" />
    </xsd:sequence>
    <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--================== Query Data Types ==============-->
  <xsd:complexType name="MXStringQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanQueryType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountQueryType">
    <xsd:sequence>
      <xsd:element name="VALUE" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
    <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--=================Attribute Groups =================-->
  <xsd:attributeGroup name="ObjectStructurePropertyGroup">
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
    <xsd:attribute name="relationship" type="xsd:string" use="optional" />
    <xsd:attribute name="deleteForInsert" type="xsd:string" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="CommonContentGroup">
    <xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional" />
    <xsd:attribute name="baseLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="messageID" type="xsd:string" use="optional" />
    <xsd:attribute name="maximoVersion" type="MaximoVersionType" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="PublishingContentGroup">
    <xsd:attribute name="event" type="EventType" use="optional" default="0" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryContentGroup">
    <xsd:attribute name="uniqueResult" type="BooleanType" use="optional" default="0" />
    <xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional" />
    <xsd:attribute name="rsStart" type="xsd:integer" use="optional" default="0" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryClausePropertyGroup">
    <xsd:attribute name="orderby" type="xsd:string" use="optional" />
    <xsd:attribute name="operandMode" type="OperandModeType" use="optional" default="AND" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="ResponseContentGroup">
    <xsd:attribute name="rsStart" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsCount" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsTotal" type="xsd:integer" use="optional" />
  </xsd:attributeGroup>
  <xsd:complexType name="INCIDENTKeyType">
    <xsd:sequence>
      <xsd:element name="CLASS" type="MXDomainType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TICKETID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INCIDENTObjectType">
    <xsd:sequence>
      <xsd:element name="TICKETID" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CLASS" type="MXDomainType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Multiple languages supported</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="STATUS" type="MXDomainType" minOccurs="0" />
      <xsd:element name="STATUSDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="REPORTEDPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INTERNALPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="IMPACT" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="URGENCY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="REPORTEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="AFFECTEDPERSON" type="MXStringType" minOccurs="0" />
      <xsd:element name="AFFECTEDDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="SOURCE" type="MXStringType" minOccurs="0" />
      <xsd:element name="SUPERVISOR" type="MXStringType" minOccurs="0" />
      <xsd:element name="OWNER" type="MXStringType" minOccurs="0" />
      <xsd:element name="OWNERGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="ISGLOBAL" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="RELATEDTOGLOBAL" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="GLOBALTICKETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="GLOBALTICKETCLASS" type="MXDomainType" minOccurs="0" />
      <xsd:element name="EXTERNALRECID" type="MXStringType" minOccurs="0" />
      <xsd:element name="SITEVISIT" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="ORIGRECORDID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGRECORDCLASS" type="MXStringType" minOccurs="0" />
      <xsd:element name="GLACCOUNT" type="MXGLAccountType" minOccurs="0" />
      <xsd:element name="COMMODITYGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="COMMODITY" type="MXStringType" minOccurs="0" />
      <xsd:element name="INHERITSTATUS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="ISKNOWNERROR" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="TARGETSTART" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TARGETFINISH" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALSTART" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALFINISH" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ORIGRECSITEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGRECORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="SITEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CHANGEDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="CHANGEBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="HISTORYFLAG" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="TEMPLATE" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="HASACTIVITY" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="FAILURECODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PROBLEMCODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="ACTLABHRS" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTLABCOST" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="AFFECTEDPHONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTEDPHONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="AFFECTEDEMAIL" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTEDEMAIL" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSETSITEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="TEMPLATEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="VENDOR" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSETNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOCATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLASSSTRUCTUREID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ISKNOWNERRORDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TARGETCONTACTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALCONTACTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="FR1CODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="FR2CODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="TICKETUID" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="SOLUTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="ASSETORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="LANGCODE" type="MXStringType" minOccurs="0" />
      <xsd:element name="HASLD" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="CINUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATEWOMULTI" type="MXDomainType" minOccurs="0" />
      <xsd:element name="TARGETDESC" type="MXStringType" minOccurs="0" />
      <xsd:element name="SELFSERVSOLACCESS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="HASSOLUTION" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="CALCORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CALCCALENDAR" type="MXStringType" minOccurs="0" />
      <xsd:element name="CALCSHIFT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPQUOTETYPE" type="MXDomainType" minOccurs="0" />
      <xsd:element name="PLUSPQUOTEDPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPAGREEMENT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCUSTOMER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCOSTCENTER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCUSTCHACCT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPRESPONSEPLAN" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPREVNUM" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPPRICESCHED" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCUSTPONUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPMAXPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPBILLBATCH" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPBBLINENUM" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPPOREQ" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="PLUSPCALCORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCALCCALNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPCALCSHIFT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOMTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOMRESOLUTION" type="MXDomainType" minOccurs="0" />
      <xsd:element name="PMCOMIMPACT" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PMCOMURGENCY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INDICATEDPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="EXTERNALSYSTEM_TICKETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="EXTERNALSYSTEM" type="MXDomainType" minOccurs="0" />
      <xsd:element name="DESCSRVID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATIONDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="VIRTUALENV" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="OUTAGEDURATION" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="CLASSIFICATIONID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCCRID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCITEMNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCOFFSUMMARY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCQUANTITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ASSIGNEDOWNERGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="ACCUMULATEDHOLDTIME" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETCONTACTTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETRESPONSETIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETRESOLUTIONTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="CORRELATIONATTRS" type="MXStringType" minOccurs="0" />
      <xsd:element name="FAULTTYPE" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="CUSTOMERNAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="CUSTOMERID" type="MXStringType" minOccurs="0" />
      <xsd:element name="KATEGORIJA" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="REGION" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ADRESAKORISNIKA" type="MXStringType" minOccurs="0" />
      <xsd:element name="OPERATORNAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="CUSTOMERVALUE" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="OLA" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="NOTEOPEN" type="MXStringType" minOccurs="0" />
      <xsd:element name="CONTACTPHONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="CONTACTPERSON" type="MXStringType" minOccurs="0" />
      <xsd:element name="CONTACTEMAIL" type="MXStringType" minOccurs="0" />
      <xsd:element name="LINEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="ROOTCUSTOMERREF" type="MXStringType" minOccurs="0" />
      <xsd:element name="TECHNICIANNAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="HASSUPPORTCONTRACT" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="SERVICESINFAULT" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PRECKAID" type="MXStringType" minOccurs="0" />
      <xsd:element name="DOMEN" type="MXStringType" minOccurs="0" />
      <xsd:element name="DSLAMPORT" type="MXStringType" minOccurs="0" />
      <xsd:element name="SERIALNUMBERSTB" type="MXStringType" minOccurs="0" />
      <xsd:element name="HGWTIP" type="MXStringType" minOccurs="0" />
      <xsd:element name="LINISKAOPREMA" type="MXStringType" minOccurs="0" />
      <xsd:element name="ADRESAIZVOD" type="MXStringType" minOccurs="0" />
      <xsd:element name="SERIALNUMBERHGW" type="MXStringType" minOccurs="0" />
      <xsd:element name="PAKET" type="MXStringType" minOccurs="0" />
      <xsd:element name="KABEL" type="MXStringType" minOccurs="0" />
      <xsd:element name="IZVOD" type="MXStringType" minOccurs="0" />
      <xsd:element name="PARICA" type="MXStringType" minOccurs="0" />
      <xsd:element name="RAM" type="MXStringType" minOccurs="0" />
      <xsd:element name="REBRO" type="MXStringType" minOccurs="0" />
      <xsd:element name="POZICIJA" type="MXStringType" minOccurs="0" />
      <xsd:element name="CENTRALAPORT" type="MXStringType" minOccurs="0" />
      <xsd:element name="PRESPOJBROJ" type="MXStringType" minOccurs="0" />
      <xsd:element name="PRESPOJLINIJA" type="MXStringType" minOccurs="0" />
      <xsd:element name="TIPDSLAM" type="MXStringType" minOccurs="0" />
      <xsd:element name="MOZEOPTIKA" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="STRING1" type="MXStringType" minOccurs="0" />
      <xsd:element name="STRING2" type="MXStringType" minOccurs="0" />
      <xsd:element name="STRING3" type="MXStringType" minOccurs="0" />
      <xsd:element name="INT1" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INT2" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INT3" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="DATE1" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="DATE2" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="EXTSYSID" type="MXStringType" minOccurs="0" />
      <xsd:element name="TIPPRETPLATNIKA" type="MXStringType" minOccurs="0" />
      <xsd:element name="HNMOUTPUT" type="MXStringType" minOccurs="0" />
      <xsd:element name="ALATOUTPUT" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPEATED" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="ATURBITS" type="MXStringType" minOccurs="0" />
      <xsd:element name="ATUCBITS" type="MXStringType" minOccurs="0" />
      <xsd:element name="SLATIPSERVIS" type="MXStringType" minOccurs="0" />
      <xsd:element name="OS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="REGIONNAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="AFFECTEDSERVICE" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGINATEDCOMPANY" type="MXStringType" minOccurs="0" />
      <xsd:element name="MESTOPOVREDE" type="MXStringType" minOccurs="0" />
      <xsd:element name="RESOLVEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="FAULTLOCATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="ALTCONTACTPHONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="TE" type="MXStringType" minOccurs="0" />
      <xsd:element name="TKTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="SMSPHONE" type="MXStringType" minOccurs="0" />
      <xsd:element name="IMPACTEDREGION" type="MXStringType" minOccurs="0" />
      <xsd:element name="SMSGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="STRING4" type="MXStringType" minOccurs="0" />
      <xsd:element name="ATRIBUT1" type="MXStringType" minOccurs="0" />
      <xsd:element name="PREVIOUSSTATUS" type="MXStringType" minOccurs="0" />
      <xsd:element name="BACKUP" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="TRANSMISSIONPATH" type="MXStringType" minOccurs="0" />
      <xsd:element name="NEXTDEVICE" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGINATEDDEVICE" type="MXStringType" minOccurs="0" />
      <xsd:element name="IMSMIGRATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="CABLEGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="VOZDUSNAMREZA" type="MXStringType" minOccurs="0" />
      <xsd:element name="CABLETYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="OKNOBROJ" type="MXStringType" minOccurs="0" />
      <xsd:element name="TIPOVINACEVKE" type="MXStringType" minOccurs="0" />
      <xsd:element name="SMS" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="NUMBEROFAFFECTEDCUSTOMERS" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMBEROFAFFECTEDKEYCUSTOMERS" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PROBABLECAUSE" type="MXStringType" minOccurs="0" />
      <xsd:element name="WITHOUTINT" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="POWER" type="MXStringType" minOccurs="0" />
      <xsd:element name="AGGREGATE" type="MXStringType" minOccurs="0" />
      <xsd:element name="TRANSMISSION" type="MXStringType" minOccurs="0" />
      <xsd:element name="CONTROLLER" type="MXStringType" minOccurs="0" />
      <xsd:element name="TYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="SMSTYPE" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="SMSPREVIEW" type="MXStringType" minOccurs="0" />
      <xsd:element name="DEVICENAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="RESOLVER" type="MXStringType" minOccurs="0" />
      <xsd:element name="WOCATALOG" type="MXStringType" minOccurs="0" />
      <xsd:element name="CENTRALA" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOGCREATE" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOGDESC" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOGINCTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOGLONG" type="MXStringType" minOccurs="0" />
      <xsd:element name="DIAGINVOKE" type="MXStringType" minOccurs="0" />
      <xsd:element name="DIAGRESULT" type="MXStringType" minOccurs="0" />
      <xsd:element name="DIAGTEMPRESULT" type="MXStringType" minOccurs="0" />
      <xsd:element name="CHECK1" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="CHECK2" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="CHECK3" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="DATE3" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="DATE4" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="INT4" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INT5" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INT6" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="STRING5" type="MXStringType" minOccurs="0" />
      <xsd:element name="STRING6" type="MXStringType" minOccurs="0" />
      <xsd:element name="STRING7" type="MXStringType" minOccurs="0" />
      <xsd:element name="REASONT" type="MXStringType" minOccurs="0" />
      <xsd:element name="TYPEOFFAULT" type="MXStringType" minOccurs="0" />
      <xsd:element name="TIPPREKIN" type="MXStringType" minOccurs="0" />
      <xsd:element name="ONCALLFIRSTROTASSNPERSON" type="MXStringType" minOccurs="0" />
      <xsd:element name="ONCALLSTARTTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ONCALLAUTOASSIGN" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="ONCALLREASSIGNTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ONCALLOWNERGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPLACEDOWNER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOSOLAPPLIEDDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="PMCOSOLAPPLIEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOSOLFEEDBACK" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMCOSOLSTATUS" type="MXDomainType" minOccurs="0" />
      <xsd:element name="PMSCITEMSETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PMSCTMPLID" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PMSCINVALID" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="PMSCRECURRINGPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PMSCONETIMEPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PMSCTOTALRECURRINGPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PMSCTOTALONETIMEPRICE" type="MXDoubleType" nillable="true" minOccurs="0" />
      <xsd:element name="PMSCCURRENCY" type="MXStringType" minOccurs="0" />
      <xsd:element name="RBA_RC" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATEPROBLEMDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="RESOLUTIONPROBLEM" type="MXStringType" minOccurs="0" />
      <xsd:element name="WORKAROUND" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="WAYOFREPAIR" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PRRELATEDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="REASON" type="MXStringType" minOccurs="0" />
      <xsd:element name="KNOWNERROR" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="WORKAROUNDDESC" type="MXStringType" minOccurs="0" />
      <xsd:element name="INT8" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INT9" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="FAULTCAUSE" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ROOTCAUSE" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPPOOLNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPPOOLITEMNUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPPOOLITEMSETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLUSPTARGDELIVERYDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="PLUSPACTDELIVERYDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="INCIDENTMboKeyType">
    <xsd:sequence>
      <xsd:element name="INCIDENT" type="INCIDENTKeyType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INCIDENTMboKeySetType">
    <xsd:sequence>
      <xsd:element name="INCIDENT" type="INCIDENTKeyType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INCIDENTMboSetType">
    <xsd:sequence>
      <xsd:element name="INCIDENT" type="INCIDENTObjectType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INCIDENTMboType">
    <xsd:sequence>
      <xsd:element name="INCIDENT" type="INCIDENTObjectType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INCIDENTMboQueryType">
    <xsd:sequence>
      <xsd:element name="WHERE" type="xsd:string" minOccurs="0" />
      <xsd:element name="INCIDENT" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="CLASS" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Multiple languages supported</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="STATUS" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STATUSDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPORTEDPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INTERNALPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="IMPACT" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="URGENCY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPORTEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPORTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AFFECTEDPERSON" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AFFECTEDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SOURCE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SUPERVISOR" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="OWNER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="OWNERGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ISGLOBAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RELATEDTOGLOBAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="GLOBALTICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="GLOBALTICKETCLASS" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="EXTERNALRECID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SITEVISIT" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ORIGRECORDID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ORIGRECORDCLASS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="GLACCOUNT" type="MXGLAccountQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="COMMODITYGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="COMMODITY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INHERITSTATUS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ISKNOWNERROR" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TARGETSTART" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TARGETFINISH" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ACTUALSTART" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ACTUALFINISH" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ORIGRECSITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ORIGRECORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CHANGEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CHANGEBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="HISTORYFLAG" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TEMPLATE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="HASACTIVITY" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="FAILURECODE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PROBLEMCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ACTLABHRS" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ACTLABCOST" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AFFECTEDPHONE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPORTEDPHONE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AFFECTEDEMAIL" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPORTEDEMAIL" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ASSETSITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TEMPLATEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="VENDOR" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ASSETNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CLASSSTRUCTUREID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ISKNOWNERRORDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TARGETCONTACTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ACTUALCONTACTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="FR1CODE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="FR2CODE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TICKETUID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SOLUTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ASSETORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LANGCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="HASLD" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CINUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CREATEWOMULTI" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TARGETDESC" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SELFSERVSOLACCESS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="HASSOLUTION" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CALCORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CALCCALENDAR" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CALCSHIFT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPQUOTETYPE" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPQUOTEDPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPAGREEMENT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPCUSTOMER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPCOSTCENTER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPCUSTCHACCT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPRESPONSEPLAN" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPREVNUM" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPPRICESCHED" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPCUSTPONUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPMAXPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPBILLBATCH" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPBBLINENUM" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPPOREQ" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPCALCORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPCALCCALNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPCALCSHIFT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMCOMTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMCOMRESOLUTION" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMCOMIMPACT" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMCOMURGENCY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INDICATEDPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="EXTERNALSYSTEM_TICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="EXTERNALSYSTEM" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DESCSRVID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CREATEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CREATIONDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="VIRTUALENV" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="OUTAGEDURATION" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CLASSIFICATIONID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCCRID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCITEMNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCOFFSUMMARY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCQUANTITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ASSIGNEDOWNERGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ACCUMULATEDHOLDTIME" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ADJUSTEDTARGETCONTACTTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ADJUSTEDTARGETRESPONSETIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ADJUSTEDTARGETRESOLUTIONTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CORRELATIONATTRS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="FAULTTYPE" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CUSTOMERNAME" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CUSTOMERID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="KATEGORIJA" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REGION" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ADRESAKORISNIKA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="OPERATORNAME" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CUSTOMERVALUE" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="OLA" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NOTEOPEN" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CONTACTPHONE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CONTACTPERSON" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CONTACTEMAIL" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LINEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ROOTCUSTOMERREF" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TECHNICIANNAME" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="HASSUPPORTCONTRACT" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SERVICESINFAULT" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PRECKAID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DOMEN" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DSLAMPORT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SERIALNUMBERSTB" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="HGWTIP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LINISKAOPREMA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ADRESAIZVOD" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SERIALNUMBERHGW" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PAKET" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="KABEL" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="IZVOD" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PARICA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RAM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REBRO" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="POZICIJA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CENTRALAPORT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PRESPOJBROJ" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PRESPOJLINIJA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TIPDSLAM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="MOZEOPTIKA" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STRING1" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STRING2" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STRING3" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INT1" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INT2" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INT3" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DATE1" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DATE2" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="EXTSYSID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TIPPRETPLATNIKA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="HNMOUTPUT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ALATOUTPUT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPEATED" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ATURBITS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ATUCBITS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SLATIPSERVIS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="OS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REGIONNAME" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AFFECTEDSERVICE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ORIGINATEDCOMPANY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="MESTOPOVREDE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RESOLVEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="FAULTLOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ALTCONTACTPHONE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TKTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SMSPHONE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="IMPACTEDREGION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SMSGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STRING4" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ATRIBUT1" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PREVIOUSSTATUS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="BACKUP" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TRANSMISSIONPATH" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NEXTDEVICE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ORIGINATEDDEVICE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="IMSMIGRATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CABLEGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="VOZDUSNAMREZA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CABLETYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="OKNOBROJ" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TIPOVINACEVKE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SMS" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMBEROFAFFECTEDCUSTOMERS" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMBEROFAFFECTEDKEYCUSTOMERS" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PROBABLECAUSE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WITHOUTINT" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="POWER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AGGREGATE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TRANSMISSION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CONTROLLER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SMSTYPE" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SMSPREVIEW" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DEVICENAME" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RESOLVER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WOCATALOG" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CENTRALA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LOGCREATE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LOGDESC" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LOGINCTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LOGLONG" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DIAGINVOKE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DIAGRESULT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DIAGTEMPRESULT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CHECK1" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CHECK2" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CHECK3" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DATE3" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DATE4" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INT4" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INT5" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INT6" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STRING5" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STRING6" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STRING7" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REASONT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TYPEOFFAULT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TIPPREKIN" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ONCALLFIRSTROTASSNPERSON" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ONCALLSTARTTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ONCALLAUTOASSIGN" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ONCALLREASSIGNTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ONCALLOWNERGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPLACEDOWNER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMCOSOLAPPLIEDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMCOSOLAPPLIEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMCOSOLFEEDBACK" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMCOSOLSTATUS" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCITEMSETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCTMPLID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCINVALID" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCRECURRINGPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCONETIMEPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCTOTALRECURRINGPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCTOTALONETIMEPRICE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PMSCCURRENCY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RBA_RC" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CREATEPROBLEMDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RESOLUTIONPROBLEM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WORKAROUND" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WAYOFREPAIR" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PRRELATEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REASON" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="KNOWNERROR" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WORKAROUNDDESC" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INT8" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INT9" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="FAULTCAUSE" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ROOTCAUSE" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPPOOLNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPPOOLITEMNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPPOOLITEMSETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPTARGDELIVERYDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PLUSPACTDELIVERYDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:element name="INCIDENTMbo" type="INCIDENTMboType" />
  <xsd:element name="INCIDENTMboSet" type="INCIDENTMboSetType" />
  <xsd:element name="INCIDENTMboKey" type="INCIDENTMboKeyType" />
  <xsd:element name="INCIDENTMboKeySet" type="INCIDENTMboKeySetType" />
  <xsd:element name="INCIDENTMboQuery" type="INCIDENTMboQueryType" />
  <xsd:complexType name="QTT1_INCIDENTType">
    <xsd:sequence>
      <xsd:element name="MAXINTERRORMSG" type="xsd:string" minOccurs="0" />
      <xsd:element name="ACTUALCONTACTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALFINISH" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTUALSTART" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETCONTACTTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ADJUSTEDTARGETRESOLUTIONTIME" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="AFFECTEDDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ASSIGNEDOWNERGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="CABLEGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="CENTRALA" type="MXStringType" minOccurs="0" />
      <xsd:element name="CINUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLASS" type="MXDomainType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CLASSIFICATIONID" type="MXStringType" minOccurs="0" />
      <xsd:element name="CLASSSTRUCTUREID" type="MXStringType" minOccurs="0" />
      <xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Multiple languages supported</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DESCRIPTION_LONGDESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="DEVICENAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="EXTERNALSYSTEM" type="MXDomainType" minOccurs="0" />
      <xsd:element name="FAULTCAUSE" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="FAULTLOCATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="GLOBALTICKETID" type="MXStringType" minOccurs="0" />
      <xsd:element name="HISTORYFLAG" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="IMPACT" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="IMSMIGRATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="INDICATEDPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="INTERNALPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ISGLOBAL" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="KABEL" type="MXStringType" minOccurs="0" />
      <xsd:element name="KATEGORIJA" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="LINEID" type="MXStringType" minOccurs="0" />
      <xsd:element name="LINISKAOPREMA" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOCATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="MESTOPOVREDE" type="MXStringType" minOccurs="0" />
      <xsd:element name="NUMBEROFAFFECTEDCUSTOMERS" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ORIGINATEDCOMPANY" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGINATEDDEVICE" type="MXStringType" minOccurs="0" />
      <xsd:element name="OWNER" type="MXStringType" minOccurs="0" />
      <xsd:element name="OWNERGROUP" type="MXStringType" minOccurs="0" />
      <xsd:element name="PAKET" type="MXStringType" minOccurs="0" />
      <xsd:element name="PRECKAID" type="MXStringType" minOccurs="0" />
      <xsd:element name="REASON" type="MXStringType" minOccurs="0" />
      <xsd:element name="REGIONNAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="RELATEDTOGLOBAL" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="REPORTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="REPORTEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTEDPRIORITY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="RESOLVEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="RESOLVER" type="MXStringType" minOccurs="0" />
      <xsd:element name="ROOTCAUSE" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="SERVICESINFAULT" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="SLATIPSERVIS" type="MXStringType" minOccurs="0" />
      <xsd:element name="SOLUTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="STATUS" type="MXDomainType" minOccurs="0" />
      <xsd:element name="STATUSDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TARGETCONTACTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TARGETFINISH" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="TICKETID" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TICKETUID" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="TIPPREKIN" type="MXStringType" minOccurs="0" />
      <xsd:element name="TKTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="URGENCY" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="WAYOFREPAIR" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="WOCATALOG" type="MXStringType" minOccurs="0" />
      <xsd:element name="WORKAROUND" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="WORKAROUNDDESC" type="MXStringType" minOccurs="0" />
      <xsd:element name="WORKLOG" type="QTT1_WORKLOGType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="WORKORDER" type="QTT1_WORKORDERType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="AFFECTEDSERVICE" type="QTT1_AFFECTEDSERVICEType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="QTT1_WORKLOGType">
    <xsd:sequence>
      <xsd:element name="CREATEBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATEDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="DESCRIPTION_LONGDESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOGTYPE" type="MXDomainType" minOccurs="0" />
      <xsd:element name="MODIFYBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="MODIFYDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ORGID" type="MXStringType" minOccurs="0" />
      <xsd:element name="WORKLOGID" type="MXLongType" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="QTT1_WORKORDERType">
    <xsd:sequence>
      <xsd:element name="ACTFINISH" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="ACTSTART" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="CANCELREASON" type="MXStringType" minOccurs="0" />
      <xsd:element name="CREATEDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="CREATEDBY" type="MXStringType" minOccurs="0" />
      <xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="EXTERNALREFID" type="MXStringType" minOccurs="0" />
      <xsd:element name="HISTORYFLAG" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="LASTREMARK" type="MXStringType" minOccurs="0" />
      <xsd:element name="OBJECTTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORDERAIM" type="MXStringType" minOccurs="0" />
      <xsd:element name="ORIGRECORDID" type="MXStringType" minOccurs="0" />
      <xsd:element name="OWNER" type="MXStringType" minOccurs="0" />
      <xsd:element name="PLACEOFFAULT" type="MXStringType" minOccurs="0" />
      <xsd:element name="REGIONNAME" type="MXStringType" minOccurs="0" />
      <xsd:element name="REPORTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="SITEID" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="STATUS" type="MXDomainType" minOccurs="0" />
      <xsd:element name="STATUSDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="WONUM" type="MXStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WORKORDERID" type="MXLongType" nillable="true" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="QTT1_AFFECTEDSERVICEType">
    <xsd:sequence>
      <xsd:element name="AFFECTEDSERVICEID" type="MXLongType" nillable="true" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CHANGEDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="CINUM" type="MXStringType" minOccurs="0" />
      <xsd:element name="DELETEFLAG" type="MXBooleanType" minOccurs="0" />
      <xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0" />
      <xsd:element name="ENDDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="EQUIPMENTTYPE" type="MXStringType" minOccurs="0" />
      <xsd:element name="LOCATION" type="MXStringType" minOccurs="0" />
      <xsd:element name="NUMADSL" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMINTERNET" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMIPTV" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMOFIMPACTEDCUST" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMVOIP" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="NUMWLR" type="MXLongType" nillable="true" minOccurs="0" />
      <xsd:element name="ONETMID" type="MXStringType" minOccurs="0" />
      <xsd:element name="REGION" type="MXStringType" minOccurs="0" />
      <xsd:element name="SERVICEINFAULT" type="MXStringType" minOccurs="0" />
      <xsd:element name="STARTDATE" type="MXDateTimeType" nillable="true" minOccurs="0" />
      <xsd:element name="SYSSTATUS" type="MXStringType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="QTT1Type">
    <xsd:sequence>
      <xsd:element name="INCIDENT" type="QTT1_INCIDENTType" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QTT1SetType">
    <xsd:sequence>
      <xsd:element name="INCIDENT" type="QTT1_INCIDENTType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QTT1QueryType">
    <xsd:sequence>
      <xsd:element name="WHERE" type="xsd:string" minOccurs="0" />
      <xsd:element name="INCIDENT" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ACTUALCONTACTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ACTUALFINISH" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ACTUALSTART" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ADJUSTEDTARGETCONTACTTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ADJUSTEDTARGETRESOLUTIONTIME" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AFFECTEDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ASSIGNEDOWNERGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CABLEGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CENTRALA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CINUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CLASS" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="CLASSIFICATIONID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="CLASSSTRUCTUREID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Multiple languages supported</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="DEVICENAME" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="EXTERNALSYSTEM" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="FAULTCAUSE" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="FAULTLOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="GLOBALTICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="HISTORYFLAG" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="IMPACT" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="IMSMIGRATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INDICATEDPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="INTERNALPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ISGLOBAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="KABEL" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="KATEGORIJA" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LINEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LINISKAOPREMA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="LOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="MESTOPOVREDE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="NUMBEROFAFFECTEDCUSTOMERS" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ORIGINATEDCOMPANY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ORIGINATEDDEVICE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="OWNER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="OWNERGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PAKET" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="PRECKAID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REASON" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REGIONNAME" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RELATEDTOGLOBAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPORTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPORTEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="REPORTEDPRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RESOLVEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RESOLVER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ROOTCAUSE" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SERVICESINFAULT" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SLATIPSERVIS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="SOLUTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STATUS" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="STATUSDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TARGETCONTACTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TARGETFINISH" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TICKETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TICKETUID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TIPPREKIN" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TKTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="URGENCY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WAYOFREPAIR" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WOCATALOG" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WORKAROUND" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WORKAROUNDDESC" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="WORKLOG" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="CREATEBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="CREATEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="LOGTYPE" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="MODIFYBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="MODIFYDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="ORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="WORKLOGID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Unique Key Component</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="filter" type="xsd:boolean" use="optional" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="WORKORDER" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ACTFINISH" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="ACTSTART" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="CANCELREASON" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="CREATEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="CREATEDBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="EXTERNALREFID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="HISTORYFLAG" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="LASTREMARK" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="OBJECTTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="ORDERAIM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="ORIGRECORDID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="OWNER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="PLACEOFFAULT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="REGIONNAME" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="REPORTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="SITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Unique Key Component</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="STATUS" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="STATUSDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="WONUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Unique Key Component</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="WORKORDERID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
                <xsd:attribute name="filter" type="xsd:boolean" use="optional" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="AFFECTEDSERVICE" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="AFFECTEDSERVICEID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation>Unique Key Component</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="CHANGEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="CINUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="DELETEFLAG" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="ENDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="EQUIPMENTTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="LOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="NUMADSL" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="NUMINTERNET" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="NUMIPTV" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="NUMOFIMPACTEDCUST" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="NUMVOIP" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="NUMWLR" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="ONETMID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="REGION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="SERVICEINFAULT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="STARTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                  <xsd:element name="SYSSTATUS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
                <xsd:attribute name="filter" type="xsd:boolean" use="optional" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="QTT1CombinedKeySetType">
    <xsd:sequence>
      <xsd:element name="INCIDENT" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CLASS" type="MXDomainType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TICKETID" type="MXStringType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="TICKETUID" type="MXLongType" nillable="true" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QTT1" type="QTT1Type" />
  <xsd:element name="QTT1Set" type="QTT1SetType" />
  <xsd:element name="QTT1Query" type="QTT1QueryType" />
  <xsd:complexType name="CreateQTT1Type">
    <xsd:sequence>
      <xsd:element ref="QTT1Set" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeQTT1Type">
    <xsd:sequence>
      <xsd:element ref="QTT1Set" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryQTT1Type">
    <xsd:sequence>
      <xsd:element ref="QTT1Query" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="QueryContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncQTT1Type">
    <xsd:sequence>
      <xsd:element ref="QTT1Set" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="PublishQTT1Type">
    <xsd:sequence>
      <xsd:element ref="QTT1Set" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="PublishingContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateQTT1Type">
    <xsd:sequence>
      <xsd:element ref="QTT1Set" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteQTT1Type">
    <xsd:sequence>
      <xsd:element ref="QTT1Set" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeQTT1ResponseType">
    <xsd:sequence>
      <xsd:element ref="QTT1Set" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="CreateQTT1ResponseType">
    <xsd:sequence>
      <xsd:element name="QTT1Set" type="QTT1CombinedKeySetType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryQTT1ResponseType">
    <xsd:sequence>
      <xsd:element ref="QTT1Set" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="ResponseContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncQTT1ResponseType">
    <xsd:sequence>
      <xsd:element name="QTT1Set" type="QTT1CombinedKeySetType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteQTT1ResponseType">
    <xsd:sequence>
      <xsd:element name="QTT1Set" type="QTT1CombinedKeySetType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateQTT1ResponseType">
    <xsd:sequence>
      <xsd:element name="QTT1Set" type="QTT1CombinedKeySetType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:element name="UpdateQTT1" type="UpdateQTT1Type" />
  <xsd:element name="QueryQTT1" type="QueryQTT1Type" />
  <xsd:element name="CreateQTT1" type="CreateQTT1Type" />
  <xsd:element name="SyncQTT1" type="SyncQTT1Type" />
  <xsd:element name="DeleteQTT1" type="DeleteQTT1Type" />
  <xsd:element name="PublishQTT1" type="PublishQTT1Type" />
  <xsd:element name="InvokeQTT1" type="InvokeQTT1Type" />
  <xsd:element name="InvokeQTT1Response" type="InvokeQTT1ResponseType" />
  <xsd:element name="QueryQTT1Response" type="QueryQTT1ResponseType" />
  <xsd:element name="CreateQTT1Response" type="CreateQTT1ResponseType" />
  <xsd:element name="SyncQTT1Response" type="SyncQTT1ResponseType" />
  <xsd:element name="UpdateQTT1Response" type="UpdateQTT1ResponseType" />
  <xsd:element name="DeleteQTT1Response" type="DeleteQTT1ResponseType" />
</xsd:schema>

