SVT_MKT_ws/xml-resources/web-service-references/mk.telekom.system.architecture.Diligent.CRM_1/wsdl/10.232.49.223_8080/mk.telekom.system.architecture.Diligent.CRM.CRMDiligentPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://crm.it.telekom.mk/diligent/services/queryDiligentIncident" xmlns:soabp="http://messaging.ei.tmobile.net/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://crm.it.telekom.mk/diligent/services/queryDiligentIncident" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRMDiligentPortTypeDefinitions" targetNamespace="http://crm.it.telekom.mk/diligent/services/queryDiligentIncident">
<wsdl:documentation>
	<!-- CEISeR version of WSDLPortType: 553896 (Branch: main) -->
	<!-- CEISeR version used for generation: 17.6.11.0 -->
</wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ei_messaging_datatypes="http://messaging.ei.tmobile.net/datatypes" xmlns:oss_it_telekom_mk_tt_datatypes="http://crm.it.telekom.mk/diligent/datatypes/queryDiligentIncident" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://crm.it.telekom.mk/diligent/services/queryDiligentIncident" version="1.0">
<xsd:import namespace="http://crm.it.telekom.mk/diligent/datatypes/queryDiligentIncident" schemaLocation="http://10.232.49.223:8080/mk.telekom.system.architecture.Diligent.CRM.CRMDiligentPortType?wsdl&amp;resource=mk-telekom-it-crm-diligent-datatypes-queryDiligentIncident.xsd"/>
<xsd:import namespace="http://messaging.ei.tmobile.net/datatypes" schemaLocation="http://10.232.49.223:8080/mk.telekom.system.architecture.Diligent.CRM.CRMDiligentPortType?wsdl&amp;resource=ei.messaging.datatypes.xsd"/>
<!-- ****************************************************************** -->
<xsd:element name="GetMSISDN2Subline">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:GetMSISDN2SublineType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="GetMSISDN2SublineOutput">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:GetMSISDN2SublineResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="HasCustomerGroupFault">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:HasCustomerGroupFaultType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="HasCustomerGroupFaultOutput">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:HasCustomerGroupFaultResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="HasCustomerIndividualFault">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:HasCustomerIndividualFaultType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="HasCustomerIndividualFaultOutput">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:HasCustomerIndividualFaultResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="MarkAffected">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:MarkAffectedType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="MarkAffectedOutput">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:MarkAffectedResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="ReleaseAffected">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:ReleaseAffectedType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="ReleaseAffectedOutput">
				<xsd:complexType>
					<xsd:sequence>
						<!-- REQUIRED structure-element "eiMessageContext2" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="eiMessageContext" type="ei_messaging_datatypes:EIMessageContext2"/>
						<!-- REQUIRED structure-element "data" -->
						<xsd:element maxOccurs="1" minOccurs="1" name="data" type="oss_it_telekom_mk_tt_datatypes:ReleaseAffectedResponseType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<xsd:element name="TechnicalExceptionElement" type="ei_messaging_datatypes:SOABPException2"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="MarkAffectedInput">
    <wsdl:part element="tns:MarkAffected" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HasCustomerIndividualFaultOutput">
    <wsdl:part element="tns:HasCustomerIndividualFaultOutput" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReleaseAffectedOutput">
    <wsdl:part element="tns:ReleaseAffectedOutput" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetMSISDN2SublineOutput">
    <wsdl:part element="tns:GetMSISDN2SublineOutput" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TechnicalExceptionMessage">
    <wsdl:part element="tns:TechnicalExceptionElement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MarkAffectedOutput">
    <wsdl:part element="tns:MarkAffectedOutput" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReleaseAffectedInput">
    <wsdl:part element="tns:ReleaseAffected" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HasCustomerGroupFaultOutput">
    <wsdl:part element="tns:HasCustomerGroupFaultOutput" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HasCustomerGroupFaultInput">
    <wsdl:part element="tns:HasCustomerGroupFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HasCustomerIndividualFaultInput">
    <wsdl:part element="tns:HasCustomerIndividualFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetMSISDN2SublineInput">
    <wsdl:part element="tns:GetMSISDN2Subline" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CRMDiligentPortType">
    <wsdl:operation name="MarkAffected">
<wsdl:documentation>
<soabp:RequestResponseOperation/>
</wsdl:documentation>
      <wsdl:input message="tns:MarkAffectedInput">
    </wsdl:input>
      <wsdl:output message="tns:MarkAffectedOutput">
    </wsdl:output>
      <wsdl:fault message="tns:TechnicalExceptionMessage" name="TechnicalExceptionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReleaseAffected">
<wsdl:documentation>
<soabp:RequestResponseOperation/>
</wsdl:documentation>
      <wsdl:input message="tns:ReleaseAffectedInput">
    </wsdl:input>
      <wsdl:output message="tns:ReleaseAffectedOutput">
    </wsdl:output>
      <wsdl:fault message="tns:TechnicalExceptionMessage" name="TechnicalExceptionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HasCustomerGroupFault">
<wsdl:documentation>
<soabp:RequestResponseOperation/>
</wsdl:documentation>
      <wsdl:input message="tns:HasCustomerGroupFaultInput">
    </wsdl:input>
      <wsdl:output message="tns:HasCustomerGroupFaultOutput">
    </wsdl:output>
      <wsdl:fault message="tns:TechnicalExceptionMessage" name="TechnicalExceptionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMSISDN2Subline">
<wsdl:documentation>
<soabp:RequestResponseOperation/>
</wsdl:documentation>
      <wsdl:input message="tns:GetMSISDN2SublineInput">
    </wsdl:input>
      <wsdl:output message="tns:GetMSISDN2SublineOutput">
    </wsdl:output>
      <wsdl:fault message="tns:TechnicalExceptionMessage" name="TechnicalExceptionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HasCustomerIndividualFault">
<wsdl:documentation>
<soabp:RequestResponseOperation/>
</wsdl:documentation>
      <wsdl:input message="tns:HasCustomerIndividualFaultInput">
    </wsdl:input>
      <wsdl:output message="tns:HasCustomerIndividualFaultOutput">
    </wsdl:output>
      <wsdl:fault message="tns:TechnicalExceptionMessage" name="TechnicalExceptionFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRMDiligentPortTypeBinding" type="tns:CRMDiligentPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MarkAffected">
      <soap:operation soapAction="urn:MarkAffected"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalExceptionFault">
        <soap:fault name="TechnicalExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReleaseAffected">
      <soap:operation soapAction="urn:ReleaseAffected"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalExceptionFault">
        <soap:fault name="TechnicalExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HasCustomerGroupFault">
      <soap:operation soapAction="urn:HasCustomerGroupFault"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalExceptionFault">
        <soap:fault name="TechnicalExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMSISDN2Subline">
      <soap:operation soapAction="urn:GetMSISDN2Subline"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalExceptionFault">
        <soap:fault name="TechnicalExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HasCustomerIndividualFault">
      <soap:operation soapAction="urn:HasCustomerIndividualFault"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TechnicalExceptionFault">
        <soap:fault name="TechnicalExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMDiligentPortTypeService">
    <wsdl:port binding="tns:CRMDiligentPortTypeBinding" name="CRMDiligentPortType">
      <soap:address location="http://10.232.49.223:8080/soabp/rpc/TestInfrastructure1/mk.telekom.system.architecture.Diligent/CRM/CRMDiligentPortType/up"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
